*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}

body{
    background:url("C:\Users\HP\Desktop\web\learn\git web\photo\1.svg");
	background-repeat:no-repeat;
	background-color: black;
	background-size: cover;
	background-position: center;
    font-family: arial;
    display: flex;
    justify-content: space-around;
	color: white;
    width: 100%;
    height: 100%;

    
}
.menu{
    background-color:black transparent;
	text-align: center;
	position: fixed;
}
.menu ul{
    display: inline-flex;
    list-style: none;
    color: white;
}

.menu ul li{
    width: 120px;
    margin: 10px;
    padding: 10px;
}

.menu ul  li a{
    color: white;
    text-decoration: none;
}
.menu ul li:hover{
    background: black;
    border-radius: 3px;
}
background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url('mount.jpg');

.p{
	display: flex;	
}

.para{
    width: 40%;
	height: max-content;
    top: 50%;
    left: 30%;
    transform: translate(-50%,50%);
}

.para p{
    opacity: 0.4;
    color:white;
    font-family: arial;
}

form
{   
	border: 1px solid whitesmoke;
	top: 60%;
	left: 60;
	width:60%;
	height: max-content;
    
}

}
.f1{
	top: 60%;
	left: 60%;
	margin-top: 100px;
	margin-left: 50px;
	width: 320px;
	height: 420px;
	background:black;
	top: 50%;
	left: 60%;
	position:absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px;
	border-radius: 20px;

}
.f1 p{
	margin: 0px;
	padding: 0px;
	font-weight:bold;
}
.f1 input{
	width: 100%;
	margin-bottom: 20px;
}
.f1 input[type="text"],input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	height: 40px;
	color:#fff;
	font-size: 15px;
	outline: thin;

}

.f1 input[type="submit"]{
	border: none;
	background: navy blue;
	height: 40px;
	color:black;
	font-size: 18px;
	outline: none;
	border-radius: 20px;
}
.f1 input[type="submit"]:hover{
	cursor: progress;
	background:blue;
	color: #000;

}
.f1 a{
	text-decoration: none;
	font-size: 15px;
	color: #fff;
}
.f1 a:hover{
	color: red;
}

.menu .fa{
  
}